@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #b39ddb, #b48fb1, #ffcc80);
}
#main {
  margin-top: 60px;
  width: 50%;
  height: 75%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f0eded;
  box-shadow: 0 20px 18px rgba(0, 0, 0, 0.4);
}
#slika {
  position: absolute;
  transform: translateY(-50%);
  width: 17%;
  aspect-ratio: 1/1;
  min-width: 150px;
  max-width: 220px;
  min-height: 150px;
  max-height: 220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px blueviolet solid;
  box-shadow: 0 0 4px 4px rgba(151, 74, 223, 0.884);
  background-image: url('bike.jpg');
  background-size: cover;
  background-position: center;
}
#card-content{
  height: 100%;
  width: 90%;
  position: absolute;
  top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}
.var{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  font-size: 30px;
  font-weight: bolder;
}
#tekst{
  text-align: center;
}
#tekst>*{
  margin-top: 10px;
  text-align: center;
}
#brojki{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
#socials{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.soc-img {
  width: 100px;
  height: 100px;
}
#btns{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
button{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}
.msg-btn{
  background: linear-gradient(to right, #3b5998, #6699cc);
}
.flw-btn{
  background: linear-gradient(to right, #f58529, #eeaf7c);
}